:root {
  --magenta: #B81365;
  --orange: #FF9F1C;
  --ash-gray: #BFD3C1;
  --teal: #89BD9E;
  --vista-blue: #7F96FF;
  --charcoal: #2F4858;
}

.App {
  text-align: center;
}

/* views */
.home-view {
  padding-top: 100px;
}

/* components */
.about-component, .skills-component, .projects-component, .footer-component {
  padding: 10% 15%;
}

.contact-component {
  align-self: center;
  padding: 5%;
  margin-bottom: 500px;
}

/* header */
.header-component {
  align-items: center;
}

.navbar {
  background-color: white;
  box-shadow: 0 1px 20px 0px gray;
  align-items: baseline;
}

.nav-links {
  text-decoration: none;
  font-size: xx-large;
  color: black;
  align-items: center;
  padding-right: 10px;
}

.nav-link:hover {
  color: var(--orange);
}

.gh-svg:hover, .li-svg:hover {
  fill: #FF9F1C;
}

/* intro */
.photo>img {
  border-radius: 50%;
}

/* skills */
.skill {
  width: 150px;
  height: 60px;
  font-size: large;
}

/* projects */
.project-examples-container {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
}

.example {
  width: 100%;
}

.project {
  margin: 0 auto;
  padding: 10px;
  border: 10px black solid;
  border-radius: 10px;
  width: 650px;
  height: 450px;
}

.icons {
  margin: 20px;
}


